{% extends "base.html" %} {% block head_title %}Agro Importaciones Norte{% endblock %} {% block extra_body %}

<div style="text-align:center;"><img src='/static/img/about.jpg' style="width: 80%; margin-top:3rem"></div>
<h1 class="text-center tarjeta titulo-pag">Sobre nosotros</h1>

<div style="width: 80%; margin:auto; text-align: justify; padding: 10px">
<p>
    Agro Importaciones del Norte S.L. es una empresa joven que nace para cubrir un vacío de marcas en cuanto la importación de maquinaria agrícola.
Actualmente trabajamos para introducir en España grandes marcas de prestigio internacional como son:
</p>
<p>
<a href="http://www.akpil.pl/" target="_blank"><b>Akpil</b></a> es una empresa que creada por el joven  chapista de coches  Kazimier Aniol en 1975.
Inicialmente se ocupó de la producción de maquinaria de construcción.
En 1985 después de una grave crisis económica su fundador transforma la empresa a la fabricación de maquinaria agrícola, produciendo en primer lugar sembradoras y cosechadoras de patatas.
En la segunda década la empresa crece considerablemente y abre sedes en Francia y Alemania.
Akpil es uno de los pocos fabricantes  europeos que fabrican el 95% de los componentes que componen sus maquina. Fabricando desde las piezas de desgaste de laboreo de suelo a toda la electrónica de sus maquinas.
Hoy Akpil es uno de los mayores fabricantes Polacos de maquinaria agrícola y uno de los mejores posicionados a nivel Europeo.
</p>
<p>
    <a href="https://www.btiagri.com.ar/" target="_blank"><b>Bti agri</b></a> es una empresa argentina con 30 años de experiencia, líder en el mercado de siembra directa, son uno de los pocos fabricantes argentinos que desarrollan soluciones para el mercado europeo.
</p>
La sociedad <a href="https://www.jeantil.com/" target="_blank"><b>JEANTIL</b></a> es una empresa francesa familiar que está al servicio del agricultor desde comienzos del siglo veinte. Especializándose en el ámbito de la ganadería y el tarnsporte
La sociedad JEANTIL está implantada en dos fabricas  en los que se elaboran los diferentes equipos de la gama con máquinas industriales a la vanguardia de la tecnología (mandos digitales, corte con láser, enrolladora, soldadura automatizada, etc.)
Gracias a su fuerza de venta y su red de concesionarios, la sociedad JEANTIL está presente en todo el territorio francés y en la esfera internacional en más de treinta países.
</p>

</div>
<div style="text-align:center"><img src='/static/img/about2.jpg' style="width:80%"></div>
{% endblock extra_body %}