{% extends "base.html" %} 


{% block head_title %}{{ chollo.nombre }}{% endblock %}

{% block extra_head %}
<style type="text/css">
    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
   }
   
    .product-image {
        display: none;
   }
    .image-list li {
        margin: 0;
   }
    @media (min-width: 780px) {
        .product-image img, .image-list img {
            width: 100%;
       }
        .product-image {
            display: block;
       }
        .product-image img {
            height: 52vh;
       }
        .product-image img.active {
            display: block;
            margin: 0 0 0.75rem 0;
       }
        .image-list {
            display: flex;
            overflow: hidden;
       }
        .image-list li {
            margin: 0 0.75rem 0 0;
            flex-basis: 100%;
       }
        .image-list li:nth-child(3) {
            margin: 0;
       }
        .image-list img {
            height: 10rem;
            width: 100%;
            transition: opacity 0.3s ease;
            cursor: pointer;
       }
        .image-list img:hover {
            opacity: 0.7;
       }
       
   }
 
   ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
</style>
{% endblock %}

{% block extra_body %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">        

                <div class="product-gallery">
                  <div class="product-image">
                    <img class="active" src="{{ chollo.foto.url }}">
                  </div>
                </div>
              </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">
                    <h1>{{ chollo.nombre }}</h1>

                    <p class="lead font-weight-bold">Descripción</p>

                    <p>{{ chollo.descripcion }}</p>
                   
                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Si está interesado en nuestros productos de ocasión...</h4>

                <p>Póngase en <a href="/contacto">contacto con nosotros o visite nuestras oficinas</a> para obtener más información sobre el estado y el precio de cada una de las máquinas que ofertamos.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock extra_body %}

{% block extra_scripts %}

<script type="text/javascript">
    const activeImage = document.querySelector(".product-image .active");
    const productImages = document.querySelectorAll(".image-list img");

    function changeImage(e) {
    activeImage.src = e.target.src;
    }

    productImages.forEach(image => image.addEventListener("click", changeImage));
</script>


{% endblock extra_scripts %}